.btn {
  padding: 0.5em 1.25em;
  cursor: pointer;
  color: #fff;
  background: #60a3bc;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  text-decoration: none;

  &:hover {
    filter: brightness(105%);
  }
}
